body{
  background-color: lavender;
}

.dashboard {
  display: grid;
  grid-template-areas: "title title"
                       "sidebar note"
                       "sidebar footer";
  grid-template-columns: 1fr 2fr;
}

.title{
  grid-area: title;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.note{
  grid-area: note;
  width: 100%;
}

.note > .title-input{
  width: 80%;
}

.note > .body-input{
  width: 80%;
}

.sidebar{
  grid-area: sidebar;
  padding: 2em 4em 0 4em;
}

.footer{
  grid-area: footer;
}

.controls{
  margin-top: 1em;
}
